body {
  margin: 0;
  color: white;
}

h1 {
  margin:0;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.insights-text {
 color: #9932CC;
}



.bodycopy {
  font-size: 15px;
  line-height: 1.6;

  font-family: 'Lexend Deca', sans-serif;

}

.outside-container {
  background-color: #090B1A;
  width: 100%;
  height: 80vh;
  display: flex;
}

.row {
  display: flex;
  width: 55%;
  margin: auto;
  background-color: #1B1938;
  border-radius: 10px;

}

@media (max-width: 768px) {
  .row {
    flex-direction: column-reverse;

  }
}

.column {
  flex: 50%;
  text-align: left;
  

}

.stats {



}

.image {
display: flex;
max-width:100%;
border-radius: 0 10px 10px 0;

}
